.mugs{
    background-image: url("../../images/coffeemugs.png");
    background-repeat: no-repeat;
    background-size: 1380px 530px;
    background-position: center;
    min-height: 530px;
    min-width: 1380px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}