.paragraph{
    font-family: 'Karla', sans-serif;
}
.paragraph__title{
    width: 578px;
    height: 80px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    margin-top: 733px;
    margin-right: 431px;
    margin-left: 431px;
    text-align: center;
}

.paragraph__text{
    width: 658px;
    height: 112px;
    font-size: 16px;
    line-height: 28px;
    margin-right: 391px;
    margin-left: 391px;
    text-align: center;
    color: #1D1F2EB2;
    opacity: 0.7;
}

.paragraph__link{
    width: 133px;
    height: 28px;
    margin-right: 654px;
    margin-left: 653px;
    text-decoration: none;
}